.spacer {
    flex: 1 1 auto;
}

.header {
    height: 52px;
    padding: 8px;
    padding: 1em 4em;
}

.logo {
    max-height: 30px;
    height: 30px;
    vertical-align: middle;
}

.two-rows {
    height: 100px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}